{% extends "hello-flask-base.html" %}
{% block content %}
<form method="post">
    <label for="k5username">Username:</label>
    <input id="k5username" name="k5username" type="text">
    <br/>
    <label for="k5password">Password:</label>
    <input id="k5password" name="k5password" type="password">
    <br/>
    <label for="k5region">Region:</label>
    <input id="k5region" name="k5region" type="text">
    <br/>
    <label for="k5contract">Contract:</label>
    <input id="k5contract" name="k5contract" type="text">
    <br/>
    <button>Go!</button>
</form>
{% endblock %}
